<div class="content-block">
  <h1 class="title">{L_VIEWING_PROFILE}</h1>
	<div class="txt-content">
	<div class="column1">
	<p>{POSTER_RANK} {RPG_IMAGE}</p>
	<fieldset>
		<!-- BEGIN rpg_fields_left -->
		<dl>
			<dt><label>{rpg_fields_left.F_NAME} :</label></dt>
			<dd>{rpg_fields_left.F_VALUE_NEW}</dd>
		</dl>
		<!-- END rpg_fields_left -->
	</fieldset>
	</div>
	<div class="column2">
	<fieldset>
		<!-- BEGIN rpg_fields -->
		<dl>
			<dt><label>{rpg_fields.F_NAME} :</label></dt>
			<dd>{rpg_fields.F_VALUE_NEW}</dd>
		</dl>
		<!-- END rpg_fields -->
	</fieldset>
	</div>
	</div>
</div>
<br />
