<style type="text/css">.mod_bookmarks a img { background:url(http://illiweb.com/fa/social_bookmarking/social_bookmarking_fa.png) no-repeat scroll; height:20px; vertical-align:middle; width:20px }
.mod_bookmarks img.digg { background-position:-10px -47px }
.mod_bookmarks img.delicious { background-position:-10px -8px }
.mod_bookmarks img.reddit { background-position:-10px -359px }
.mod_bookmarks img.slashdot { background-position:-10px -398px }
.mod_bookmarks img.stumbleupon { background-position:-10px -476px }
.mod_bookmarks img.furl { background-position:-10px -163px }
.mod_bookmarks img.yahoo { background-position:-10px -554px }
.mod_bookmarks img.google { background-position:-10px -204px }
.mod_bookmarks img.blinklist { background-position:-10px -665px }
.mod_bookmarks img.blogmarks { background-position:-10px -630px }
.mod_bookmarks img.technorati { background-position:-10px -516px }</style>

<div class="content-block">
  <div class="title">{L_SOCIAL_BOOKMARKING}</div>
	<div class="txt-content">
	<div style="text-align:center" class="mod_bookmarks">
		<!-- BEGIN IMGS -->
		<a style="text-decoration:none;" href="{IMGS.URL}" rel="nofollow">
			<img class="{IMGS.CLASS}" src="{IMGS.IMG}" style="padding-bottom:1px;" alt="{IMGS.ALT}" border="0" title="{IMGS.TITLE}" />
		</a> &nbsp;
		<!-- END IMGS -->

		<em>{L_SOCIAL_BOOKMARKING_EXPLAIN}</em>
	</div>
	<br class="clear" />
	</div>
</div>
