<style type="text/css">.mod_rss_feeds a img { background:url(http://illiweb.com/fa/rss_mod/sprite_rss_feeds.png) no-repeat scroll; height:17px; padding-bottom:2px; vertical-align:middle; width:91px }
.mod_rss_feeds img.yahoo { background-position:0 0 }
.mod_rss_feeds img.google-reader { background-position:-100px 0 }
.mod_rss_feeds img.msn { background-position:-199px 0 }
.mod_rss_feeds img.aol { background-position:-299px 0 }
.mod_rss_feeds img.newsgator { background-position:-399px 0 }
.mod_rss_feeds img.netvibes { background-position:-498px 0 }
.mod_rss_feeds img.bloglines { background-position:-598px 0 }</style>

<div class="content-block">
  <div class="title">{L_RSS_FEEDS}</div>
	<div class="txt-content">
	<div class="mod_rss_feeds" style="text-align:center">
		<!-- BEGIN IMGS -->
		{IMGS.NEW_LINE}
		<a href="{IMGS.URL}" rel="nofollow" target="_blank">
			<img class="{IMGS.CLASS}" src="{IMGS.IMG}" alt="{IMGS.TITLE}" border="0" title="{IMGS.TITLE}" />
		</a>&nbsp;
		<!-- END IMGS -->
	</div>
	<br />
	<br class="clear" />
	</div>
</div>
