<!-- BEGIN html_validation -->
<div>
	<div>
		<div>
			<div>
				<div>
					<div>
						<div>
							<div>
<!-- END html_validation -->
							</div>
						</div>
					</div>
				</div>
				<div id="{ID_RIGHT}" class="module_column column_right color-secondary">
          <div class="module_inner">
            <script type="text/javascript">if (window.fa_initForumModules) { fa_initForumModules('right'); }</script>
					  <!-- BEGIN giefmod_index2 -->
					  {giefmod_index2.MODVAR}
					  <!-- END giefmod_index2 -->
          </div>
				</div>
        <div class="clear"></div>
			</div>
		</div>
	</div>
</div>
</div>

<div id="page-footer" class="color-secondary">
<div class="footer-links left">
<!-- BEGIN html_validation -->
</div>
</div>
<!-- END html_validation -->
