<form action="{S_ACTION}" method="post" name="post">
<div class="content-block">
  <h1 class="title">{L_TITLE}</h1>
	<div class="txt-content">
	<fieldset class="fields3">
		<dl>
			<dt>
				<label>{L_FROM_TOPIC}</label><br />
				<span class="italic">{L_FROM_TOPIC_EXPLAIN}</span>
			</dt>
			<dd><strong>{FROM_TOPIC_TITLE}</strong></dd>
		</dl>
		<dl>
			<dt>
				<label>{L_TO_TOPIC}</label><br />
				<span class="italic">{L_TO_TOPIC_EXPLAIN}</span>
			</dt>
			<dd>
				{TO_TOPIC_TITLE}&nbsp;
				<input type="hidden" name="from_topic" value="{FROM_TOPIC}" />
				<input type="hidden" name="to_topic" value="{TO_TOPIC}" />
				<input class="button2" type="submit" name="select_to" value="{L_SEARCH}" />
			</dd>
		</dl>
	</fieldset>
	</div>
</div>

<div class="content-block">
	<div class="txt-content">
	<fieldset class="submit-buttons">
		<input type="hidden" name="fid" value="{CURRENT_FID}" />
		<input class="button2" type="submit" name="submit" value="{L_SUBMIT}" />
		<input class="button2" type="submit" name="refresh" value="{L_REFRESH}" />
		{S_HIDDEN_FIELDS}
	</fieldset>
	</div>
</div>
</form>
